.page3-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: 0 auto;
}
.rectanglmock-button {
    background-color: #4c5077;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 12px;
    font-size: 1rem;
    color: white;
}
.score-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.quiz-title {
    font-weight: bold;
    font-size: 1rem;
}

.quiz-score {
    font-size: 1rem;
    color: #white;
}


.scroll-container {
    max-height: 550px;           
    overflow-y: auto;
    max-width: 100%;
    padding: 5px;
    background-color: #2e3255;
}
.rectangle {
    background-color: #4c5077;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 12px;
    font-size: 1rem;
}


.page3-header {
    font-size: 28px;
    margin-bottom: 20px;
}

.quiz-question {
    margin-bottom: 30px;
}

.option-btn {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}

   

.quiz-results {
    margin-top: 20px;
}
