.page3-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: 0 auto;
}
.feedback-scroll {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    background-color: #4c5077;
}


.page3-header {
    font-size: 28px;
    margin-bottom: 20px;
}

.quiz-question {
    margin-bottom: 30px;
}

.option-btn {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}

    .option-btn:hover {
        background-color: #dbeaff;
    }

.quiz-results {
    margin-top: 20px;
}
